div.jumbotron.clearfix
  h1 Welcome to Bit Island

  h3 The Net's Safest Maker Taker Exchange.

  p A BitCoin ECN (Electroinic Communication Network) that allows for complex order types (including hidden and reserve orders) and a maker-taker fee pricing system.


