doctype html

html
  head
    block head
      include Framework/head
      yield

  body(ng-app="BI")
    div(ng-controller='AppCtrl').wrapper
      include Framework/header

      div.wrapper
        block content
          yield

