title= title
base(href="/")

link(rel="shortcut icon", href="/images/favicon.ico?v=2")


link(rel='stylesheet', type='text/css', href='/bootstrap/dist/css/bootstrap.css')
link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')

//link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Audiowide')
//link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Open+Sans')

meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='description', content='Great Success!')
meta(name='viewport', content='width=device-width, initial-scale=1')

each script in dependencies.scripts
  script(type="text/javascript", src=script)


