body {
  width: 100%;
  height: 100%;
  font-family: Arial !important; 
  background: #0082C7;
}

html {
    width: 100%;
    height: 100%;
}

.content {
  margin-top: 51px;
}


@media(min-width:767px) {
  .navbar {
    padding: 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .top-nav-collapse {
    /* Customize the look and feel of the collapsed top nav here */
    padding: 0;
  }
}

/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children 
of those sections to manage the look and feel of the site. */
ul.nav, .collapse, .navbar-collapse, .navbar-ex1-collapse {
  font-family: Arial !important; 
}

.ticker-section {
  margin: 0 -25px;
  padding: 0 10px 10px 10px;
  text-align: left;
  font-size: 1.2em; 
  background: #005FC7;
  -webkit-liner-gradient: ; 0b79f1
  color: #CCCCCC;
}

.contents-section {
  height: 100%;
  text-align: left;
  font-size: 1.2em;
  background: #0082C7;
  color: #CCCCCC;
}

.exchange, .purchase {
  height:200px;
  width: 100%;
  border: 1px #898989 solid;
  padding: 10px;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.15);
          box-shadow: 0 3px 3px 0 rgba(0,0,0,0.15);
}

.exchange li > div {
  display: inline-block;
}

.exchange li > div.delta {
  display: inline-block;
  font-size: 10px;
  margin: 10px;
}



.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn-default {
  color: #b5cee1;
  background-color: #759cba;
  border-color: #334c5f;

}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,{
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.bit-btn-default {
  background-image: none;
}
.btn-success {
  /* fallback */
  font-weight: bold;
  color: #FFF;
  font-size: 1.3em;
  letter-spacing: 0.06em;
  padding:28px 0px;
  margin:0 10px;
  width: 80px;
  height: 80px;
  border: 3px solid #6a9d31;
  background-color: #88c248;
  background-repeat: repeat-x;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#88c248), to(#6a9c31));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #88c248, #6a9c31);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #88c248, #6a9c31);

  /* IE 10 */
  background: -ms-linear-gradient(top, #88c248, #6a9c31);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #88c248, #6a9c31);*/
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active, {
  color: #003399;
  border: 2px solid #002361;
  background-color: #1fa7e3;
  background-repeat: repeat-x;
}
.btn-success:active,
.btn-success.active,{
  background-image: none;
}

.btn-error {
  /* fallback */
  font-weight: bold;
  letter-spacing: 0.06em;
  padding:28px 0px;
  margin:0 10px;
  width: 80px;
  height: 80px;
  border: 2px solid #002361;
  background-color: #eb0e0e;
  background-repeat: repeat-x;

  /* Safari 4-5, Chrome 1-9 */
  /*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#25aaef), to(#024498));

  /* Safari 5.1, Chrome 10+ */
  /*background: -webkit-linear-gradient(top, #25aaef, #024498);

  /* Firefox 3.6+ */
/*  background: -moz-linear-gradient(top, #25aaef, #024498);

  /* IE 10 */
  /*background: -ms-linear-gradient(top, #25aaef, #024498);

  /* Opera 11.10+ */
  /*background: -o-linear-gradient(top, #25aaef, #024498);*/
}
.btn-error:hover,
.btn-error:focus,
.btn-error:active,
.btn-error.active, {
  color: #003399;
  border: 2px solid #002361;
  background-color: #1fa7e3;
  background-repeat: repeat-x;
}
.btn-error:active,
.btn-error.active,{
  background-image: none;
}

.btn-warning {
  /* fallback */
  font-weight: bold;
  letter-spacing: 0.06em;
  padding:28px 0px;
  margin:0 10px;
  width: 80px;
  height: 80px;
  border: 2px solid #002361;
  background-color: #ecd729;
  background-repeat: repeat-x;

  /* Safari 4-5, Chrome 1-9 */
  /*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#25aaef), to(#024498));

  /* Safari 5.1, Chrome 10+ */
  /*background: -webkit-linear-gradient(top, #25aaef, #024498);

  /* Firefox 3.6+ */
/*  background: -moz-linear-gradient(top, #25aaef, #024498);

  /* IE 10 */
  /*background: -ms-linear-gradient(top, #25aaef, #024498);

  /* Opera 11.10+ */
  /*background: -o-linear-gradient(top, #25aaef, #024498);*/
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active, {
  color: #003399;
  border: 2px solid #002361;
  background-color: #1fa7e3;
  background-repeat: repeat-x;
}
.btn-warning:active,
.btn-warning.active,{
  background-image: none;
}
.footer{
    height: 60px;
    width: 100%;    
    padding: 20px;
    background: #0082C7;
    color: #CCCCCC;
}


