@import 'nib'

// Colors
disabled_color = hsl(0,0%,20%);
background_light_blue = #0082C7
background_medium_blue = #005FC7

// Parent Classes
.card {
  padding: 10px;
  border: 1px hsla(0,0%,100%,0.2) solid;  
  -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.15);
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.15);
}

.table-card {
  border: 1px hsla(0,0%,100%,0.2) solid;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.15);
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.15); 
}

.blue-gradient {
  background: #005FC7; 
  background: -webkit-linear-gradient(#56bafb,hsl(200,60%,48%)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#56bafb,hsl(200,60%,48%)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#56bafb,hsl(200,60%,48%)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#56bafb,hsl(200,60%,48%)); /* Standard syntax */
  color: #CCCCCC;
}

html {
  width: 100%;
  height: 100%;
}

body {
  min-width: 1200px;
  font-family: 'Arial' !important; 
  height: 100%;
  width: 100%;
  margin-top: 51px;
}

.navbar-fixed-top {
  .container {
    width: auto
  }
}


.wrapper {
  height: 100%;
}

@media (min-width:767px) {
  .navbar {
    padding: 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .top-nav-collapse {
    padding: 0;
  }
}

//  Color switcher
.navbar-fixed-top .btn.theme {
  &.dark {
    color: white
    background: black
  }
  &.light {
    color: black
    background: white
  }
}

.trade {
  &.dark {
    select {
      background: grey;
      color: black;
    }

    .contents-section {
      background: black
      color: #CCCCCC;
    }

    table thead {
      background: linear-gradient(top, 'hsl(0,0%,11%)', 'hsl(0,0%,15%)')
      
      th {
        border-bottom: 1px solid hsl(0,0%,26%)
      }
    }
  }

  &.light {
    select {
      background: white;
      color: black;
    }

    .contents-section {
      background: none
      color: black;
    }

    table thead {
      background: linear-gradient(top, 'hsl(0,0%,91%)', 'hsl(0,0%,76%)')
      
      th {
        border-bottom: 1px solid hsl(0,0%,76%)
      }
    }    
  }
}


ul.nav, .collapse, .navbar-collapse, .navbar-ex1-collapse {
  font-family: 'Arial' !important; 

  a {
    font-size: 18px;
  }

  a.btn {
    line-height: 20px;
    padding: 6px 12px;
    color: #fff;
    margin-top: 8px;
  }
}

.navbar-brand img {
  height: 60px;
  margin-top: -15px;
  margin-right: 10px;
  opacity: 0.968;

  &:hover {
    opacity: 1;
  }
}

.btn {
  &.btn-success {
    background: green;
  }

  &.btn-danger {
    background: red;
  }

  &.btn-warning {
    background: hsl(40,100%,50%);
  }
}

.ticker-section {
  @extend .blue-gradient;
  color: white
  padding: 10px 35px;
  font-size: 1.2em; 

  .title {
    font-weight: 300;
    font-size: 10px;
  }

  .latest_trades {
    display: inline-block;
    width: 355px;
    float: left;
    padding-top: 4px;
    overflow: hidden;
    max-height: 29px;

    .latest {
      margin: 0 5px;
    }
  }

  marquee {
    float: right;
    width: 368px;
    box-shadow: inset 3px 0px 20px rgba(34,34,34,0.1), inset -3px 0px 20px rgba(34,34,34,0.1);    height: 30px;
    padding-top: 4px;

    > span {
      margin: 0 15px;
    }
  }
}

.contents-section {
  height: 100%;
  text-align: left;
  font-size: 1.2em;
  padding: 0 20px;
}

.pos {
  color: green;
}

.neg {
  color: red;
}

.exchange {
  min-height: 500px;
}

.exchange, .account-summary {
  @extend .table-card

  .table {
    thead {
      padding: 0 10px

      th {
        text-transform: uppercase;
        font-size: 12px;
      }
    }

    tr {
 
    }

    td {
      padding-top: 10px;
      border-top: 1px solid hsla(0,0%,100%,0.1);
      font-size: 11px;
    }
  }
}

.account-summary li > div {
  display: inline-block;

  &.delta {
    font-size: 10px;
    margin: 10px;
  }
}

.price-chart {
  @extend .card
}

.purchase {
  @extend .card

  select {
    &:last-of-type {
      text-transform: uppercase;
    }
  }

  input[disabled="disabled"] {
    background-color: disabled_color;
  }
}

.buy-sell {
  @extend .card

  .btn {
    margin: 20px 10px;
  }
}

.footer {
  @extend .blue-gradient
  width: 100%;    
  padding: 5px 35px;
  color: black;
  position: fixed;
  bottom: 0;

  p {
    margin: 0
  }
}